
    body{
        background-color: pink;
        font-size: 16px;
        font-style: italic;
        text-align: center;
        }

    h1 {
        font-family: sans-serif;
        font-size: 65px;
        color: orange;
        }

    ul{
        line-height: 30px;
        text-decoration: underline;
        background-color: green;
        }

    .style{
        background-color: black;
        }

    p{
        color: #656149;
        font-weight: 600;
        font-size: 3em;
        }  

    #Mar{
        color: saddlebrown;
        }

    #Ama{
        color: yellow;
        }

    #Ver{
        color: red;
        }
